<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.shortId) { %>
     http://localhost:8001/url/<%= shortId %>
    <% } %>
    <form method="post" action="/url">
        <label for="url">Enter your Url:</label>
        <input type="text" placeholder="https://example.com" name="url">
        <button type="submit">Generate</button>
    </form>
</body>
</html>