<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="post">
        <label for="name">Enter your Name:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="email">Enter your Email:</label>
        <input type="text" name="email" placeholder="Email">
        <label for="password">Enter password</label>
        <input type="text" name="password" placeholder="password">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>